
<div class="container-fluid bg-light rounded p-0 p-sm-2 p-lg-4">
    <!-- ko if:searchHistory() !== null-->
	<div class="row justify-content-between p-4">
		<h4>Search history</h4>
		<button class="col-md-2 btn btn-danger" data-bind="click: clearHistory"><i class="fa fa-trash" aria-hidden="true"></i>  Clear History</button>
	</div>
	<div class="alert alert-warning" data-bind="visible: searchHistory().totalResults() < 1">There is no search history to show.</div>
    <div class="list-group p-2" data-bind="foreach: searchHistory().posts">
		<div class="list-group-item">
			<div class="row justify-content-between mx-2">
				<p class="" data-bind="text: text"></p>
				<small class="" data-bind="date: created"></small>
			</div>
		</div>
    </div>
    
    <div class="row justify-content-center d-none d-sm-flex">
        <button class="col-3 col-md-2 btn btn-primary" data-bind="click: goToPrev, enable: hasPrev">Previous</button>
        <h6 class="col-3 col-md-2 text-center align-self-center" data-bind="text: postsShowing"></h6>
        <button class="col-3 col-md-2 btn btn-primary" data-bind="click: goToNext, enable: hasNext">Next</button>
    </div>
    <div class="row justify-content-center d-flex d-sm-none">
        <button class="col-3 col-md-2 btn btn-primary" data-bind="click: goToPrev, enable: hasPrev"><<</button>
        <h6 class="col-3 col-md-2 text-center align-self-center" data-bind="text: postsShowing"></h6>
        <button class="col-3 col-md-2 btn btn-primary" data-bind="click: goToNext, enable: hasNext">>></button>
    </div>
	<br />
    <!-- /ko -->
</div>