<div class="container">
    <div class="container-fluid alert alert-primary" id="postListBar">
        <h5>Question search</h5>
        <form class="form-inline input-group">
            <input class="form-control" data-bind="textInput: searchWord" placeholder="Type your search words here..." aria-label="Search">
            <div class="input-group-btn">
                <button class="btn btn-primary" data-bind="click: datGetList">Search</button>
            </div>
            
        </form>
    </div>
    <div class="alert alert-warning" data-bind="visible: noResultsFound">No questions match the search words.</div>
    <div class="container-fluid bg-light rounded p-0 p-sm-2 p-lg-4">
        <!-- ko if:searchResult() !== null-->
        <div class="list-group p-2" data-bind="foreach: searchResult().posts">
            <div data-bind="component: {name: 'searchListItem', params:{post:$data, activePost:$parent.activePost, index:$index, parent:$parent}}"></div>
        </div>
        <!-- /ko -->
		<div class="row justify-content-center d-none d-sm-flex">
			<button class="col-3 col-md-2 btn btn-primary" data-bind="click: goToPrev, enable: hasPrev">Previous</button>
			<h6 class="col-3 col-md-2 text-center align-self-center" data-bind="text: postsShowing"></h6>
			<button class="col-3 col-md-2 btn btn-primary" data-bind="click: goToNext, enable: hasNext">Next</button>
		</div>
		<div class="row justify-content-center d-flex d-sm-none">
			<button class="col-3 col-md-2 btn btn-primary" data-bind="click: goToPrev, enable: hasPrev"><<</button>
			<h6 class="col-3 col-md-2 text-center align-self-center" data-bind="text: postsShowing"></h6>
			<button class="col-3 col-md-2 btn btn-primary" data-bind="click: goToNext, enable: hasNext">>></button>
		</div>
    </div>
    <br />
</div>