
<div data-bind="with: postResult">
    <div class="container pageDiv">
        <div class="row">
            <h4 class="col-10" data-bind="text: title">asd</h4>
            <hr />
            <button data-bind="click: getNotes" type="button" class="btn btn-outline-secondary mr-1" title="Note" data-toggle="modal" data-target=".bd-example-modal-sm"><i class="fa fa-sticky-note-o" aria-hidden="true"></i></button>
            <button data-bind="css: {active: marked}, click: $parent.markPost" type="button" class="btn btn-outline-warning" title="Favorite"><i class="fa fa-star" aria-hidden="true"></i></button>
        </div>
        <br />
        <p data-bind="html: body">asd</p>
        <!-- ko if:$parent.hasComments--><!-- only show comments if there are comments to show -->
        <div class="container bg-light p-3" data-bind="template: {name: 'comment-template', if: comments.length >0}"></div>
        <!-- /ko -->
        <h5><span data-bind="text: answers.length"></span> Answers</h5>
        
    </div>
    <div class="list-group" data-bind="template: {name: 'answer-template', foreach: answers}"></div>
</div>
<!-- Comments Template -->
<script type="text/html" id="comment-template">
    <a class="btn btn-secondary" data-toggle="collapse" data-bind="attr: {href: '#comments'+$component.getId(url)}" aria-expanded="false" aria-controls="collapseExample">
        Comments
    </a>
    
    <div class="collapse" data-bind="attr:{id:'comments'+$component.getId(url)}">
        <div class="list-group" data-bind="foreach: comments">
            <div class="list-group-item">
                <div class="d-inline-block float-left p-1 mr-2 alert" data-bind="css: score>0? 'alert-success':'alert-warning'">
                    <span class="" data-bind="text: score"></span>
                </div>
                <div class="d-inline">
                    <div class="small" data-bind="text: text"></div>
                    <div>
                        <small class="text-muted float-right" data-bind="date: created"></small>
                        <small class="text-muted float-left" data-bind="text: owner.name"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</script>


<!-- Answer Template -->
<script type="text/html" id="answer-template">
    <div class="list-group-item">
        <span data-bind="html: body"></span>
        <small class="text-muted float-left" data-bind="text: owner.name"></small>
    </div>
    <div class="container bg-light p-3" data-bind="template: {name: 'comment-template', if:comments.length >0}"></div>

    <br />
</script>


<div class="modal fade bd-example-modal-sm " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Java herp derp lerp to the left</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Notes:</h6>
                <div class="list-group" data-bind="foreach: notes">
                    <div class="list-group-item">
                        <button type="button" class="btn btn-outline-primary mr-1  mb-2" title="Edit"><i class="fa fa-edit" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-outline-danger mb-2" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        <p data-bind="text: $data.text"></p>
                    </div>
                    <div class="list-group-item">
                        <form>
                            <div class="form-group">
                                <button type="button" class="btn btn-outline-primary mb-2"><i class="fa fa-save" aria-hidden="true"></i> Save</button>
                                <textarea class="form-control" style="min-height: 200px;">
										Lorem ipsum dit dolor amet con sinution det am biono del calami.
										Lorem ipsum dit dolor amet con sinution det am biono del calami.
									</textarea>
                            </div>
                        </form>
                    </div>
                </div>

                <hr />
                <form>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Create new note</label>
                        <textarea class="form-control" placeholder="Write your note here..." id="message-text"></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>