
<div class="container pageDiv" data-bind="with: postResult">
    <h4 data-bind="text: title">asd</h4>
    <br />
    <p data-bind="html: body">asd</p>
    <!-- ko if:$parent.hasComments--><!-- only show comments if there are comments to show -->
    <div class="container bg-light p-3"  data-bind="template: {name: 'comment-template', if: comments.length >0}"></div>
    <!-- /ko -->
    <h5><span data-bind="text: answers.length"></span> Answers</h5>
    <div class="list-group" data-bind="template: {name: 'answer-template', foreach: answers}"></div>
    

</div>
<!-- Comments Template -->
<script type="text/html" id="comment-template">
    <h6>Comments</h6>
    <div class="list-group " data-bind="foreach: comments">
        <div class="list-group-item">
            <div class="d-inline-block center-block float-left p-1 mr-2 alert" data-bind="css: score>0? 'alert-success':'alert-warning'">
                <span class="glyphicon-book glyphicon" data-bind="text: score"></span>
            </div>
			<div class="d-inline">
				<div class="small" data-bind="text: text"></div>
				<div>
					<small class="text-muted float-right" data-bind="text: created"></small>
					<small class="text-muted float-left" data-bind="text: owner.name"></small>
				</div>
			</div>
        </div>
    </div>
</script>


<!-- Answer Template -->
<script type="text/html" id="answer-template">
    <div class="list-group-item">
        <span data-bind="html: body"></span>
		<small class="text-muted float-left" data-bind="text: ownerId"></small>
    </div>
    <div class="container bg-light p-3" data-bind="template: {name: 'comment-template', if:comments.length >0}"></div>

    <br />
</script>